/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(Basemod.png);
    height: 630px; 
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}
