/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(Basemod.gif);
    height: 630px; 
    width: 751px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

